/*
    Author: Patrick McIntosh
    Date:28Jan2021
    Assignment: V1
    File Purpose: Definition of all the applied styles through out my website.
*/


@charset "utf-8";

/* Header Styles */

h1 {
    color: white;
}

/* Body Styles */

body {
    background-color: blue;
}

/* Navigation Styles */

nav {
    color: whitesmoke;
    background-color: teal;
    
}