@charset "utf-8";

/*
    Author: Patrick McIntosh
    Date:28Jan2021
*/

/* Header Styles */

h1 {
    color: white;
}

/* Body Styles */

body {
    background-color: blue;
}

/* Navigation Styles */

nav {
    color: whitesmoke;
    background-color: teal;
    
}